<!-- footer -->
<div class="footer">
        <div class="container">
            <h2><a href="index.html"><i class="fa fa-magic" aria-hidden="true"></i>  感谢</a></h2>
            <h3>尊敬的客户</h3>
            <p class="footer_info_w3ls_agile">饮水思源，我们深知，公司的发展和壮大，一刻也离不开您的关注、信任、支持和参与。</p>
            <!-- <form action="#" method="post">
                <input type="email" name="email" placeholder="Your email..." required="">
                <input type="submit" value="Subscribe">
            </form> -->
            <div class="agileits_w3layouts_nav">
                <div class="agileits_w3layouts_nav_left">
                    <ul>
                        <li class="active"><a href="index.html">友情链接1</a></li>
                        <li><a href="about.html">友情链接2</a></li>
                        <li><a href="icons.html">友情链接3</a></li>
                        <li><a href="mail.html">友情链接4</a></li>
                    </ul>
                </div>
                <!-- <div class="agileits_w3layouts_nav_right">
                    <ul>
                        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </div> -->
                <div class="clearfix"> </div>
            </div>
            <p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
    </div>