<nav class="link-effect-8" id="link-effect-8">
    <ul class="nav navbar-nav">
        <li {% if pageType==="index"  %} class="active" {% endif %}><a href="/">主页</a></li>
        <!-- <li {% if pageType==="about"  %} class="active" {% endif %}><a href="/xs/about">关于我们</a></li> -->
        <li {% if pageType==="arts"  %} class="active" {% endif %}><a href="/xs/arts">项目展示</a></li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
            <ul class="dropdown-menu agile_short_dropdown">
                <li><a href="/">Web Icons</a></li>
                <li><a href="/">Typography</a></li>
            </ul>
        </li> -->
        <li {% if pageType==="mail"  %} class="active" {% endif %}><a href="/xs/mail">联系我们</a></li>
    </ul>
</nav>
                       