<!DOCTYPE html>
<html lang="en">

<head>
<title>Single</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />
<script type="application/x-javascript">
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<!-- bootstrap-css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,600,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- //font -->
</head>

<body>
<div class="inner_agile_pages">
	<div class="main_agileits">
		<div class="agile_wthree_nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"><span><i class="fa fa-magic" aria-hidden="true"></i></span>Exec</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-8" id="link-effect-8">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li class="active"><a href="blog.html">Blog</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="icons.html">Web Icons</a></li>
									<li><a href="typography.html">Typography</a></li>
								</ul>
							</li>
							<li><a href="mail.html">Mail Us</a></li>
						</ul>
					</nav>
				</div>
				<div class="agile_search">
					<!-- cd-search -->
					<div class="cd-main-header">
						<ul class="cd-header-buttons">
							<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
						</ul>
						<!-- cd-header-buttons -->
					</div>
					<div id="cd-search" class="cd-search agileinfo">
						<form action="#" method="post">
							<input name="Search" type="search" placeholder="Click enter after typing...">
						</form>
					</div>
					<!-- //cd-search -->

				</div>
			</nav>
		</div>
	</div>
</div>
<!-- //banner -->
<!--/w3_short-->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">

		<ul class="w3_short">
			<li><a href="index.html">Home</a><span>|</span></li>
			<li>Single</li>
		</ul>
	</div>
</div>
<!--//w3_short-->
<!-- banner-bottom -->
<div class="banner_bottom_w3ls_agile">
	<div class="container">
		<h3 class="agile_heading inner">Single</h3>
		<p class="sub_cap">Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
		<div class="agile_inner_info">
			<div class="col-md-7 w3agile_blog_left">
				<div class="w3agile_blog_left_grid">
					<div class="w3agile_blog_left_grid_l">
						<p>June</p>
						<h4>03</h4>
						<p>2017</p>
					</div>
					<div class="w3agile_blog_left_grid_r">
						<h3>Donec ultricies ante sed nulla <span>vitae ante mauris</span></h3>
						<ul>
							<li><span class="fa fa-user" aria-hidden="true"></span><a href="#">Michael Carl</a><i>|</i></li>
							<li><span class="fa fa-heart-o" aria-hidden="true"></span><a href="#">33</a><i>|</i></li>
							<li><span class="fa fa-tags" aria-hidden="true"></span><a href="#">12</a><i>|</i></li>
							<li><span class="fa fa-pencil-square-o" aria-hidden="true"></span>Lobortis</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<div class="w3agile_blog_left_grid_sub">
						<img src="images/banner1.jpg" alt=" " class="img-responsive" />
					</div>

					<div class="w3agile_blog_left_grid_sub1 single">
						<h4><i class="fa fa-quote-right" aria-hidden="true"></i></h4>
						<div class="w3agile_blog_left_grid_sub1_pos">
							<p>Vivamus malesuada vehicula diam, a lobortis lectus luctus id. Curabitur a sapien et tellus faucibus eleifend sit
								amet ut turpis. Mauris ut odio sed nisi convallis convallis.Aenean vel massa in lacus lobortis congue. Cum sociis
								natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sit amet laoreet purus. Aliquam
								consequat mi sed turpis molestie, non sollicitudin eros viverra. Praesent viverra pretium elit ut accumsan.
							</p>
						</div>
					</div>
					<div class="w3agile_blog_left_grid_sub2">
						<p>Proin risus dui, suscipit id hendrerit ut, sodales a ante. Aenean vel massa in lacus lobortis congue. Cum sociis natoque
							penatibus et magnis. .
						</p>
					</div>
				</div>
				<div class="w3agile_blog_left_grid1">
					<div class="w3agile_blog_left_grid1_w3">
						<div class="col-md-6 w3agile_blog_left_grid1_left w3layouts_recent_grid">
							<ul>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Praesent viverra pretium</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Cum sociis natoque</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Aliquam consequat mi sed</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Proin risus suscipit id</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Sed feugiat neque amet</li>
							</ul>
						</div>
						<div class="col-md-6 w3agile_blog_left_grid1_right">
							<img src="images/g2.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3agile_blog_left_grid1_w3">
						<div class="col-md-6 w3agile_blog_left_grid1_right w3layouts_recent_grid">
							<img src="images/g4.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-6 w3agile_blog_left_grid1_left">
							<ul>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Curabitur a sapien faucibus</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Sed ut metus turpis cursus</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Maecenas eget erat bibendum</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Proin pretium dignissim quam</li>
								<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Etiam dictum quam ut tellus</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="w3agile_similar_posts">
					<h3>Similar Posts</h3>
					<div class="w3agile_similar_post_grid">
						<div class="col-md-6 w3agile_similar_post_left">
							<div class="w3agile_similar_post_left_grid">
								<img src="images/g3.jpg" alt=" " class="img-responsive" />
								<div class="w3agile_similar_post_left_grid_pos">
									<a href="#"><img src="images/t1.png" alt=" " class="img-responsive" /></a>
								</div>
							</div>
							<h4><a href="single.html">viverra pretium elit</a></h4>
							<ul>
								<li><span class="fa fa-user" aria-hidden="true"></span><a href="#">Alley James</a><i>|</i></li>
								<li><span class="fa fa-heart-o" aria-hidden="true"></span><a href="#">43</a><i>|</i></li>
								<li><span class="fa fa-tags" aria-hidden="true"></span><a href="#">12</a><i>|</i></li>

							</ul>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
						</div>
						<div class="col-md-6 w3agile_similar_post_left">
							<div class="w3agile_similar_post_left_grid">
								<img src="images/g6.jpg" alt=" " class="img-responsive" />
								<div class="w3agile_similar_post_left_grid_pos">
									<a href="#"><img src="images/t3.png" alt=" " class="img-responsive" /></a>
								</div>
							</div>
							<h4><a href="single.html">sociosqu litora torquent</a></h4>
							<ul>
								<li><span class="fa fa-user" aria-hidden="true"></span><a href="#">Randy Orton</a><i>|</i></li>
								<li><span class="fa fa-heart-o" aria-hidden="true"></span><a href="#">13</a><i>|</i></li>
								<li><span class="fa fa-tags" aria-hidden="true"></span><a href="#">32</a><i>|</i></li>
							</ul>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="agileits_comment">
					<h3>Leave your comment</h3>
					<div class="agileits_comment_grid">
						<form action="#" method="post">
							<div class="col-md-6 agileits_comment_grid_left">
								<label>Name<span>*</span></label>
								<input type="text" name="Name" placeholder=" " required="">
								<label class="w3_in">Email<span>*</span></label>
								<input class="email" type="email" name="Email" placeholder=" " required="">
								<label>Subject</label>
								<input type="text" name="Subject" placeholder=" " required="">
							</div>
							<div class="col-md-6 agileits_comment_grid_left">
								<label>Comment<span>*</span></label>
								<textarea name="Message" placeholder=" " required=""></textarea>
								<input type="submit" value="Submit Now">
							</div>
							<div class="clearfix"> </div>

						</form>
					</div>
				</div>
			</div>
			<div class="col-md-5 w3agile_blog_left">
				<div class="agileits_search">
					<form action="#" method="post">
						<input class="email" type="email" name="Email" placeholder="Email" required="">
						<input type="submit" value="Send">
					</form>
				</div>
				<div class="agile_author">
					<h3>About Admin</h3>
					<div class="agile_author_grid">
						<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.Vestibulum nec vestibulum
							dui. Praesent lectus arcu, venenatis at iaculis.</p>
						<div class="agile_author_grid_pos">
							<img src="images/t2.png" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="wthree_faq">
					<h3>FAQ's</h3>
					<div class="panel-group wthree_panel" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title asd">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
									  aria-controls="collapseOne">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche voluptate
						</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body panel_text">
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
									  aria-controls="collapseTwo">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
						</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body panel_text">
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
									  aria-controls="collapseThree">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry qui
						</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body panel_text">
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
								<h4 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
									  aria-controls="collapseFour">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche proident
						</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body panel_text">
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w3ls_recent_posts">
					<h3>Recent Posts</h3>
					<div class="agileits_recent_posts_grid">
						<div class="agileits_recent_posts_gridl">
							<a href="single.html"><img src="images/g6.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a href="single.html">velit esse quam nihil</a></h4>
							<ul>
								<li><span class="fa fa-envelope-o" aria-hidden="true"></span><a href="#">2</a></li>
								<li><span class="fa fa-clock-o" aria-hidden="true"></span>5:30 AM</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits_recent_posts_grid">
						<div class="agileits_recent_posts_gridl">
							<a href="single.html"><img src="images/g3.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a href="single.html">Class aptent taciti sociosqu</a></h4>
							<ul>
								<li><span class="fa fa-envelope-o" aria-hidden="true"></span><a href="#">5</a></li>
								<li><span class="fa fa-clock-o" aria-hidden="true"></span>8:45 AM</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits_recent_posts_grid">
						<div class="agileits_recent_posts_gridl">
							<a href="single.html"><img src="images/g2.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="agileits_recent_posts_gridr">
							<h4><a href="single.html">Maecenas eget erat bibendum</a></h4>
							<ul>
								<li><span class="fa fa-envelope-o" aria-hidden="true"></span><a href="#">6</a></li>
								<li><span class="fa fa-clock-o" aria-hidden="true"></span>9:30 AM</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="w3l_categories">
					<h3>Categories</h3>
					<ul>
						<li><a href="single.html"><span class="fa fa-long-arrow-right" aria-hidden="true"></span>tellus faucibus eleifend sit amet</a></li>
						<li><a href="single.html"><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Mauris ut odio sed nisi convallis</a></li>
						<li><a href="single.html"><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Curabitur a sapien et tellus faucibus</a></li>
						<li><a href="single.html"><span class="fa fa-long-arrow-right" aria-hidden="true"></span>porta nunc eget, lobortis nulla</a></li>
						<li><a href="single.html"><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Sed ut metus turpis cursus convallis</a></li>
						<li><a href="single.html"><span class="fa fa-long-arrow-right" aria-hidden="true"></span>Maecenas cursus at ex a faucibus</a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>


		</div>
	</div>

</div>
<!-- //banner-bottom -->

<!-- footer -->
<div class="footer">
	<div class="container">
		<h2><a href="index.html"><i class="fa fa-magic" aria-hidden="true"></i>  Exec</a></h2>
		<h3>Subscribe To Our Newsletter</h3>
		<p class="footer_info_w3ls_agile">Subscribe to our newsletter and we will inform you about newest projects and promotions.</p>
		<form action="#" method="post">
			<input type="email" name="email" placeholder="Your email..." required="">
			<input type="submit" value="Subscribe">
		</form>
		<div class="agileits_w3layouts_nav">
			<div class="agileits_w3layouts_nav_left">
				<ul>
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="icons.html">Icons</a></li>
					<li><a href="mail.html">Mail Us</a></li>
				</ul>
			</div>
			<div class="agileits_w3layouts_nav_right">
				<ul>
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
	</div>
</div>
<!-- //footer -->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/search.js"></script>
<script src="js/bootstrap.js"></script>
</body>

</html>